//ASIDE RESEAUX
body {
  .reseaux {
    display: flex;
    align-items: center;
    justify-content: end;
    & aside {
      display: flex;
      flex-direction: column;
      background: #f3f3f3;
      border: 1px solid #d8d8d8;
      border-radius: 20px 0 0 20px;
      width: 45px;
      text-align: center;
      padding: 12px 6px;
      border-right: none;
      position: fixed;
      top: 30%;
      right: 0;
      z-index: 2;
      a {
        color: $color_fond;
        margin: 15%;
        font-size: 35px;
        &:hover {
          transition: all 0.2s;
          color: #7eb3ff;
        }
      }
    }
  }
}
