body {
  display: flex;
  align-items: center;
  justify-content: center;
  .fonctions {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    > h1 {
      margin: 5% 0;
      text-align: center;
    }
    .intro {
      background: url(/img/cover_fonction.jpg) no-repeat;
      background-size: cover;
      height: 400px;
      article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
    & h1 {
      color: $color_main_texte;
      font-size: 1.5em;
    }
    & p {
      color: $color_main_texte;
      font-size: 1em;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20%;
      color: white;
      width: 100%;
      background-color: $color_fond;
      &:nth-child(odd) {
        background-color: rgb(240, 240, 240);
        color: $color_fond;
      }
      article {
        display: flex;
        max-width: $max_with;
        width: 100%;
        margin: 2%;
        justify-content: space-between;
        align-items: center;
        .picto {
          width: 100px;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            line-height: 1.5;
          }
        }
        .container-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 800px;
          h4 {
            margin-top: 0;
            margin-bottom: 3%;
          }
          .listduo {
            display: flex;
            justify-content: center;
            > ul {
              margin-left: 5%;
              width: 40%;
            }
          }
          .list {
            display: flex;
            justify-content: start;
            width: 60%;
            > ul {
              margin-left: 5%;
            }
          }
        }
      }
    }
  }

  .box {
    border: none;
    background-color: transparent;
    width: 220px;
    height: 300px;
    
    perspective: 1000px;
  }
  .box-inner {
    position: relative;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .box:hover .box-inner {
    border: none;
    transform: rotateY(180deg);
  }
  .box-front,
  .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .box-front {
    background-color: #cccccc;
    color: #111111;
  }
  .box-back {
    background-color: #8ebf42;
    color: #eeeeee;
    transform: rotateY(180deg);
  }
}
