body {
  .introform {
    background: url(/img/cover_contact.jpg) no-repeat;
    background-size: cover;
    background-position: 25% 25%;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    article {
      max-width: $max_with;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      text-align: left;
      padding: 0 5rem 0 5rem;

      & h1 {
        align-items: flex-start;
        color: $color_main_texte;
        font-size: 1.5em;
      }
      & p {
        line-height: 1.5rem;
        color: $color_main_texte;
        font-size: 1em;
        margin: 0;
        width: 40%;
      }
      br {
        display: block; /* makes it have a width */
        content: " "; /* clears default height */
        margin-top: 0.5rem; /* change this to whatever height you want it */
      }
    }
  }
  .contact {
    display: grid;
    margin: 5rem;
    align-content: center;
    justify-content: center;
    grid-template-columns: 2fr;

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 8vh;
      color: $color_fond;
      text-align: center;
    }
    .required {
      color: #e21f4e;
    }
    form {
      color: $color_fond;
      background: transparent;
      border-radius: 3rem;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr 1fr;
      position: relative;
    }
    & select {
      margin-top: 0.5rem;
      height: 3rem;
      border-radius: 0.5rem;
      width: 16rem;
      text-align: center;
      font-size: 1em;
      border: 2px solid $color_sec_texte;
    }
    & input {
      box-sizing: border-box;
      height: 3rem;
      border-radius: 5rem;
      border-style: none;
      font-size: 1em;
      width: 10rem;
      align-self: end;
      justify-self: end;
      color: white;
      background: $color_cta;
      &:hover {
        transition: all 0.3s;
        background: $color_active;
      }
    }
    .formcontact {
      display: flex;
      flex-direction: column;
      select {
        outline-style: none;
        &:focus {
          border: 3px solid $color_active;
        }
      }
      input {
        transition: all 0.3s;
        outline-style: none;
        margin-top: 0.5rem;
        border-radius: 5rem;
        height: 3rem;
        width: 16rem;
        color: $color_fond;
        padding: 0.5rem;
        background-color: transparent;
        &::placeholder {
          opacity: 0.3;
        }
        border: 2px solid $color_sec_texte;
        &:focus {
          border: 3px solid $color_active;
        }
        &:focus:valid {
          color: green;
        }
        &:focus:invalid {
          color: #e21f4e;
        }
        &:not(:focus):invalid:not(:required) {
          border: 2px solid #e21f4e;
          color: #e21f4e;
        }
        &:not(:placeholder-shown):invalid {
          border: 2px solid #e21f4e;
          color: #e21f4e;
        }
      }
      &.message {
        grid-column: span 2;
        textarea {
          transition: all 0.3s;
          padding: 0.5rem;
          margin-top: 0.5rem;
          border-radius: 0.5rem;
          border: 2px solid $color_sec_texte;
          font-size: 1rem;
          font-family: $main_font;
          outline-style: none;
          &:focus {
            border: 3px solid $color_active;
          }
        }
      }
      label {
        order: -1;
      }
    }
  }
  .conditions {
    color: $color_sec_texte;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    a {
      color: $color_sec_texte;
    }
    input {
      width: 1rem;
    }
  }
}
