@media screen and (max-width: 1125px) {
  body {
    .home {
      section {
        article {
          align-items: center;
        }
        &:nth-child(1) {
          background: url(/img/fond.jpg) no-repeat;
          background-size: cover;
          h2 {
            color: $color_main_texte;
            font-size: 1.5em;
          }
          p {
            width: 20rem;
            color: $color_main_texte;
            line-height: 1.5rem;
            font-size: 1em;
          }
        }
        //DOWNLOAD
        &:nth-child(2) {
          div {
            align-items: center;
            article {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
            }
          }
        }
        //REJOINDRE
        &:nth-child(3) {
          background-color: $color_fond_claire;
          > div {
            div {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
